<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ice.web.dao.AreaMapper">
  <resultMap id="BaseResultMap" type="cn.ice.web.entity.AreaEntity">
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="parent_codes" jdbcType="VARCHAR" property="parentCodes" />
    <result column="tree_sort" jdbcType="DECIMAL" property="treeSort" />
    <result column="tree_sorts" jdbcType="VARCHAR" property="treeSorts" />
    <result column="tree_leaf" jdbcType="CHAR" property="treeLeaf" />
    <result column="tree_level" jdbcType="DECIMAL" property="treeLevel" />
    <result column="tree_names" jdbcType="VARCHAR" property="treeNames" />
    <result column="area_name" jdbcType="VARCHAR" property="areaName" />
    <result column="area_type" jdbcType="CHAR" property="areaType" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="DATETIME" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="DATETIME" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  
  <!--base column-->
  <sql id="baseColumnList">
  t.area_code,t.parent_code,t.parent_codes,t.tree_sort,t.tree_sorts,t.tree_leaf,t.tree_level,t.tree_names,t.area_name,t.area_type,t.status,t.create_by,t.create_date,t.update_by,t.update_date,t.remarks
  </sql>
  <!--table name-->
  <sql id="tableName">t_area t</sql>
  
  <select id="get" resultMap="BaseResultMap">
  	select <include refid="baseColumnList"/> 
  		from <include refid="tableName"/>
  </select>
</mapper>